@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);

html, body, ul, li, h1, h2, h3, h4, h5, h6, img, p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body{
  font-size: 14px;
  letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

h1 {
  color: #777777;
  font: "Myriad Pro";
  font-size: 42px;
}

h2 {
  color: #e46965;
  font-size: 42px;
}

h3{
  color: #E17370;
  font-size: 24px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}


/*************************************
               Header
**************************************/

header h1, header h3{
  text-align: center;
}

header h1 {
  margin-top: 44px;
}

h2 {
  margin-top: 18px;
  margin-bottom: 20px;
}

header h3{
  color: #e46965;
  font-size: 20px;
  margin-bottom: 40px;
}

nav {
  background-color: #dadada;
  height: 40px;
  color: #ffffff;
}

.nav-list {
  float: left;
  font-family: "Arial Bold";
}

.nav-list li{
  float: left;
  list-style: none;
}

.nav-list li{
  float: left;
}

.nav-list li a{

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 11px;
  margin: 11px 20px 0 20px;
}

.nav-list :first-child{
  padding-left: 0;
}

.nav-list :last-child{
  padding-right: 0;
}

.social-list {
  float: right;
  margin-top:6px;
}

.social-list li{
  float: left;
  list-style: none;
}

.social-list li a{
  margin-left: 20px;
}

/*************************************
               feature
**************************************/

.feature {
  background-color: #363636;
}

.feature h3{
  color: #fff;
  font-weight: normal;
  font-size: 20px;
}

.feature-list{
  list-style: none;
  height: 300px;
  background: url("../images/feature-bg.jpg");
}

.feature-list li{
  width: 33.333333%;
  height: 300px;
  float: left;
  border-left: 1px solid white;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;

}

.feature-list li:last-child {
  border-right: 1px solid white;
}

.feature-list li a{
  text-decoration: none;
  opacity: 0.7;
}

.feature-list li a h3{
  margin-top: 5px;
  text-decoration: none;
  opacity: 0.5;
}

.feature-list li a:hover h3{
  text-decoration: none;
  opacity: 1;
}

/*************************************
       article (Design Service)
**************************************/


article p{
  margin-bottom: 15px;
}


/*************************************
               Portfolio
**************************************/

.porfolio-samples {
  background-color: #dadada;
  padding: 5px 0 20px 0;
  margin-top: 20px;
}

.portfolio-list {
  list-style: none;
}

.portfolio-list li{
  width: 210px;
  height: 210px;
  float: left;
  margin-right: 20px;
  position: relative;
}

.portfolio-list li:last-child{
  margin-right: 0;
}

.port-laptops  { background: url("../images/laptops.jpg") center center no-repeat; }
.port-acme     { background: url("../images/acmelogo.gif") -200px -60px  no-repeat; }
.port-demoreel { background: url("../images/tablet.jpg") center center no-repeat; }
.port-logo     { background: url("../images/alogo.gif") center center no-repeat; }


/*************************************
               Footer
**************************************/

footer {
  background-color: #252525;
  color: #9D9D9D;
  position: relative;
  height: 300px;
}

footer .col-one-third{
  padding-top: 16px;
  width: 33.33333%;
  float: left;
}

footer .col-one-third h3{
  color: #E17370;
  margin: 8px 0 10px 0;
}

footer .define-list dd{
  margin-bottom: 10px;
  margin-left: 0px;
}

footer .contact-us a{
  color: #9D9D9D;
  text-decoration: none;
}

footer .contact-us a:hover{
  text-decoration: underline;
}

footer .registration input{
  width: 100%;
  height: 39px;
  background-color: #363636;
  border: 1px solid #6D6D6D;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

footer .registration button{
  width: 100%;
  height: 40px;
  background-color: #E26A68;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
}

footer .copyright{
  background-color: #1D1D1D;
  width: 100%;
  /*height: 40px;*/
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding: 12px 0;
}




/*************************************
              Clearfix
**************************************/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
